#locationInput {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(0,0,0,0.2);  /* Semi-transparent background */
    padding: 5px;
    border-radius: 5px;
}

#address {
    padding: 5px;
    margin-right: 10px;
    vertical-align: middle;
}

button {
    padding: 5px 10px;
    cursor: pointer;
    background-color: #34cb57;  /* Reusing your green color */
    border: none;
    color: white;
    vertical-align: middle;
}

button:hover {
    background-color: #2ba045;
}

/* New CSS for tables */
table {
    width: 100%; 
    margin-top: 20px;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
}

th {
  background-color: #f2f2f2;
  color: #333333;  
}
